<div class="background">
    <video src="/static/media/intro.mp4" autoplay></video>
</div>

<div class="panel">
    <p hidden>Donald Trump wants to build a wall.</p>
    <p hidden>To <strong>"#MakeAmericaGreatAgain"</strong>.</p>
    <p hidden>The wall is built by all his supporters, everyday, in social media.</p>
    <p hidden>Every time someone tweets supporting Trump, a brick is added to the wall.</p>
    <p hidden>Every time someone tweets against Trump, a brick is removed.</p>
    <p hidden>If you want to contribute to destroy or keep building that wall, just tweet with the hashtag <strong>#NotMyPresident</strong> or <strong>#MakeAmericaGreatAgain.</strong></p>
</div>