<div class="background">
    <video src="/static/media/fondo.mp4" autoplay loop></video>
</div>
<section class="grid">
</section>

<div class="buffer">
</div>

<div class="credits">
    Developed during <a href="http://popathon.org/acoruna/" target="blank">Popathon A Coruña</a> on November 2016 by:
    <a href="http://www.esferobite.com" target="blank">Belén</a>, <a href="https://twitter.com/carmen_grimaldi" target="_blank">Carmen</a>, <a href="https://twitter.com/maria_yanez" target="blank">María</a>, <a href="https://twitter.com/marcosnineb" target="_blank">Marcos</a> and <a href="https://twitter.com/bertez" target="_blank">Berto</a>
</div>

<div class="logo">
    <strong>Trump</strong>etition
</div>